<a href="https://colab.research.google.com/github/lebui31231023136-sketch/lebui.github.io/blob/main/bai02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello World')

Hello World

## Python 101

In [9]:
score = 80
if score >=60 :
    print("pass")

pass

In [3]:
#Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1+(r)) ** n)
print(round(fv, 2))

194.87

In [4]:
x = 2
y = x + 1
print(x,y)

2 3

In [6]:
# comment
from platform import python_version
print("Python version:", python_version())

Python version: 3.11.13

In [12]:
# bmi
# in put
height_cm = 160
weight_kg = 50

# process
height_m = height_cm / 100
bmi = (weight_kg / height_m**2)

print("Your bmi is: " + str(round(bmi,1)))

Your bmi is: 19.5

In [14]:
# Operator
print('7 + 2=', 7 +2)
print('7 - 2=', 7 - 2)
print('7 * 2=', 7 * 2 )
print('7 / 2=', 7 / 2)
print('7 // 2=', 7 // 2)
print('7 % 2=', 7 % 2)
print('7 ** 2=', 7 ** 2)

7 + 2= 9
7 - 2= 5
7 * 2= 14
7 / 2= 3.5
7 // 2= 3
7 % 2= 1
7 ** 2= 49

In [15]:
# Comparation
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

In [17]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

## Cau truc du lieu

In [21]:
x = ["apple", "banana", "cherry"] #list
print(x, type(x))
x = ("apple", "banana", "cherry") #tuple
print(x, type(x))
x = {"name" : "Tom", "age" : 20} #dict
print(x, type(x))
x = {"apple", "banana", "cherry"} #set
print(x, type(x))

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20} <class 'dict'>
{'banana', 'apple', 'cherry'} <class 'set'>

In [18]:
# list
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

In [20]:
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

In [24]:
k = { 'EN':'English'
,
'FR':'French' }
print(k['EN'])

English

In [27]:
# data style
fruits = ["apple", "banana", "cherry"] #lists []
colors = ("red", "green", "blue") #tuples ()
animals = {'cat', 'dog'} #sets {}
person = {"name" : "Tom", "age" : 20} #dictionaries {}

In [28]:
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [30]:
# tuples
accounts = (("Cash, 1001"), ("Accounts Receivable", 1002), ("Inventory", 1003))
for account in accounts:
     print("Account name:", account[0], "Account number:", account[1])

Account name: C Account number: a
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [47]:
# if
score = 90
grade = ""
if score >=90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "E"
print(grade)

A

In [50]:
# loop
for i in range(1, 6): #1<=i,6
    print(i, end= " " )

1 2 3 4 5

In [76]:
# 2 loop
for i in range(1,10): # i: 1->9
    for j in range(1, 10):
      print(f'{1} * {j} = {i + j}')
      print('-'*50)

1 * 1 = 2
--------------------------------------------------
1 * 2 = 3
--------------------------------------------------
1 * 3 = 4
--------------------------------------------------
1 * 4 = 5
--------------------------------------------------
1 * 5 = 6
--------------------------------------------------
1 * 6 = 7
--------------------------------------------------
1 * 7 = 8
--------------------------------------------------
1 * 8 = 9
--------------------------------------------------
1 * 9 = 10
--------------------------------------------------
1 * 1 = 3
--------------------------------------------------
1 * 2 = 4
--------------------------------------------------
1 * 3 = 5
--------------------------------------------------
1 * 4 = 6
--------------------------------------------------
1 * 5 = 7
--------------------------------------------------
1 * 6 = 8
--------------------------------------------------
1 * 7 = 9
--------------------------------------------------
1 * 8 = 10
--------------------------------------------------
1 * 9 = 11
--------------------------------------------------
1 * 1 = 4
--------------------------------------------------
1 * 2 = 5
--------------------------------------------------
1 * 3 = 6
--------------------------------------------------
1 * 4 = 7
--------------------------------------------------
1 * 5 = 8
--------------------------------------------------
1 * 6 = 9
--------------------------------------------------
1 * 7 = 10
--------------------------------------------------
1 * 8 = 11
--------------------------------------------------
1 * 9 = 12
--------------------------------------------------
1 * 1 = 5
--------------------------------------------------
1 * 2 = 6
--------------------------------------------------
1 * 3 = 7
--------------------------------------------------
1 * 4 = 8
--------------------------------------------------
1 * 5 = 9
--------------------------------------------------
1 * 6 = 10
--------------------------------------------------
1 * 7 = 11
--------------------------------------------------
1 * 8 = 12
--------------------------------------------------
1 * 9 = 13
--------------------------------------------------
1 * 1 = 6
--------------------------------------------------
1 * 2 = 7
--------------------------------------------------
1 * 3 = 8
--------------------------------------------------
1 * 4 = 9
--------------------------------------------------
1 * 5 = 10
--------------------------------------------------
1 * 6 = 11
--------------------------------------------------
1 * 7 = 12
--------------------------------------------------
1 * 8 = 13
--------------------------------------------------
1 * 9 = 14
--------------------------------------------------
1 * 1 = 7
--------------------------------------------------
1 * 2 = 8
--------------------------------------------------
1 * 3 = 9
--------------------------------------------------
1 * 4 = 10
--------------------------------------------------
1 * 5 = 11
--------------------------------------------------
1 * 6 = 12
--------------------------------------------------
1 * 7 = 13
--------------------------------------------------
1 * 8 = 14
--------------------------------------------------
1 * 9 = 15
--------------------------------------------------
1 * 1 = 8
--------------------------------------------------
1 * 2 = 9
--------------------------------------------------
1 * 3 = 10
--------------------------------------------------
1 * 4 = 11
--------------------------------------------------
1 * 5 = 12
--------------------------------------------------
1 * 6 = 13
--------------------------------------------------
1 * 7 = 14
--------------------------------------------------
1 * 8 = 15
--------------------------------------------------
1 * 9 = 16
--------------------------------------------------
1 * 1 = 9
--------------------------------------------------
1 * 2 = 10
--------------------------------------------------
1 * 3 = 11
--------------------------------------------------
1 * 4 = 12
--------------------------------------------------
1 * 5 = 13
--------------------------------------------------
1 * 6 = 14
--------------------------------------------------
1 * 7 = 15
--------------------------------------------------
1 * 8 = 16
--------------------------------------------------
1 * 9 = 17
--------------------------------------------------
1 * 1 = 10
--------------------------------------------------
1 * 2 = 11
--------------------------------------------------
1 * 3 = 12
--------------------------------------------------
1 * 4 = 13
--------------------------------------------------
1 * 5 = 14
--------------------------------------------------
1 * 6 = 15
--------------------------------------------------
1 * 7 = 16
--------------------------------------------------
1 * 8 = 17
--------------------------------------------------
1 * 9 = 18
--------------------------------------------------

In [54]:
# while loops
age = 10
while age < 20:
    print(age)
    age = age + 1

10
11
12
13
14
15
16
17
18
19

In [57]:
# Class
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Alan", 20)
print(p1.name, p1.age)

Alan 20

In [80]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("Alan", 20)
p1.myfunc()
print(p1.name)
print(p1.age)

Hello my name is Alan
Alan
20

In [81]:
class Vehicle:
  name = ""
  kind = "car"
  color = ""
  value = 100.00

  def __init__(self, name="", kind="car", color="", value=100.0):
    self.name = name
    self.kind = kind
    self.color = color
    self.value = value
    pass

  def description(self):
    desc_str = f'{self.name} is a {self.color} {self.kind} worth ${self.value:.2f}.'
    return desc_str
    pass

car1 = Vehicle()
car1.name = "Fer"
car1.color = "red"
car1.kind = "convertible"
car1.value = 60000.00

car2 = Vehicle("Jump", 'blue', 'van', 10000.0)

print(car1.description())
print(car1.name)
print(car2.description())
print(car2.name)

Fer is a red convertible worth $60000.00.
Fer
Jump is a van blue worth $10000.00.
Jump

In [73]:
%%writefile mymodule.py
def greeting(name):
  print("Hello, " + name)

Overwriting mymodule.py

In [69]:
import mymodule
mymodule.greeting("Alan")

Hello, Alan

In [86]:
filename = 'mymodule.py'
with open(filename, 'w') as file:
  text = '''def greeting(name):
  print("Hello, " + name)
  print("Xin chao, " + name)
  '''
  file.write(text)

with open(filename, 'r') as file:
  text = file.read()
print(filename)
print(text)

mymodule.py
def greeting(name):
  print("Hello, " + name)
  print("Xin chao, " + name)

In [91]:
import mymodule
mymodule.greeting("Alan")

Hello, Alan
Xin chao, Alan

##Ket thuc